<div class="my-card">
  {{#paper-card class="event-card" size="xl" as |card|}}
    {{#card.title as |title|}}
      {{#title.text as |text|}}
        <b>{{#text.headline}}{{this.event.name}}{{/text.headline}}</b>
        {{#text.subhead}}{{this.event.type}}{{/text.subhead}}
      {{/title.text}}
    {{/card.title}}
    {{#card.content size="lg"}}
      <div class="fill-card"></div>
      <p>
        {{this.event.description}}
      </p>
    {{/card.content}}
    {{#card.actions class="buttons-card"}}
      <p>
        {{#paper-button class="my-button" raised=true onClick=(action "showDetails" this.event.id)}}Details{{/paper-button}}
      </p>
    {{/card.actions}}
  {{/paper-card}}
</div>
