// Define desired color palettes for each intention.
$primary: 'indigo';
$warn: 'light-blue';
$accent: 'pink';

@import 'ember-paper';

body {
  max-width: 100%;
  max-height: 100%;
  color: paper-color($primary);
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h1 {
  font-size: 3.400rem;
  font-weight: 400;
  line-height: 4rem;
}

h2 {
  font-size: 2.400rem;
  font-weight: 400;
  line-height: 3.2rem;
}

h3 {
  font-size: 2.000rem;
  font-weight: 500;
  letter-spacing: 0.005em;
}

button.my-button.md-default-theme.md-button.md-raised.ember-view.md-ink-ripple {
  background-color: paper-color($primary, '300');
  color: paper-color('light-blue', '50');
}

md-input-container {
  width: 40%;
  text-align: left;
}

md-card.event-card {
  color: paper-color($primary);
  border-radius: 25px;
  border: 10px solid paper-color($primary, '300');
  padding: 2px;
  margin: 5px;
  height: 100%;
}

md-card.info-card {
  color: paper-color($primary);
  padding: 5px;
  max-width: 80%;
  margin-left: 10%;
  padding-bottom: 20px;
  font-size: 1.500rem;
  font-weight: 500;
  letter-spacing: 0.005em;
  padding-bottom: 30px;
}

p.p-description {
  font-size: 2.000rem;
}

form.new-event {
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 25px;
  border: 10px solid paper-color($primary, '300');
  height: 80%;
  padding: 15px;
}

form.comment-section {
  max-width: 60%;
  margin-left: 20%;
  border: 1px solid paper-color($primary, '300');
  border-radius: 0px;
  padding: 15px;
  height: 80%;
  justify-content: left;
}

md-list {
  max-width: 60%;
  margin-left: 20%;
  border: 1px solid paper-color($primary, '300');
  color: paper-color($primary);
  height: 80%;
  padding: 15px;
  text-align: left;
}

md-toolbar.event-title.md-default-theme.ember-view {
  max-width: 80%;
  margin-left: 10%;
  background-color: paper-color($primary, '300');
  border: 1px solid paper-color($primary, '300');
  text-align: center !important;
  justify-content: center;
  width: auto;
}

.search-card {
  width: 78%;
  justify-content: center;
  margin-left: 11%;
}

md-toolbar.serach-toolbar.md-default-theme.ember-view {
  background-color: paper-color($primary, '300');
  border: 1px solid paper-color($primary, '300');
  text-align: center;
  justify-content: center;
  width: auto;
}

.layout-column.index-page {
  margin-left: 100px;
  margin-right: 100px;
}

.layout-row.index-page {
  justify-content: space-evenly;
}


.layout-row.new-page {
  justify-content: space-evenly;
}

.page-title {
  text-align: center;
}

.my-body {
  margin: 5px;
}

.my-link {
  text-align: center !important;
}

.my-card {
  margin: 5px;
  padding: 5px;
  min-width: 40%;
  padding-bottom: 15px;
}

.doc-code-example {
  /* Initially we don't want any height, and we want the contents to be hidden */
  max-height: 0;
  overflow: hidden;

  /* Set our transitions up. */
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  transition: max-height 1s;

  /* On hover, set the max-height to something large. In this case there's an obvious limit. */
  &.is-visible {
    max-height: 400px;
    overflow-y: scroll;
  }
  pre {
    margin-top: 0;
  }
}

.doc-content-example {
  position: relative;
}

a.pagination {
  padding-bottom: 15px;
  color: paper-color($primary);
  text-transform: uppercase;
  font-style: italic;
  padding: 20px;
  font-size: 1.500rem;
  font-weight: 500;
  letter-spacing: 0.005em;
}

.fill-card {
  width: 200px;
  height: 150px;
}

