<br>

{{#if this.model}}
  <h3 class="page-title"> Email confirmed. Click {{#link-to "login"}}here{{/link-to}} to login</h3>
{{else}}
  <h3 class="page-title"> Email already confirmed or the token has expired. </h3>
{{/if}}