<br>

{{#paper-form class="new-event" onSubmit=(action "submitUser") as |form|}}
  <div class="layout-column new-page">
    <div class="layout-row new-page flex-50">
      {{form.input label="Name" value=name onChange=(action (mut name)) required=true}}
    </div>
    <div class="layout-row new-page flex-50">
      {{form.input label="Email" value=email type="email" onChange=(action (mut email)) required=True}}
    </div>
    <div class="layout-row new-page flex-50">
      {{form.input label="Password" value=password type="password" onChange=(action (mut password)) required=True}}
    </div>
  </div>
  <div class="layout-row index-page">
    {{#form.submit-button raised=true primary=true}}Submit{{/form.submit-button}}
  </div>
{{/paper-form}}