{{#paper-toolbar class="event-title"}}
  {{#paper-toolbar-tools}}
    <h2>{{this.model.event.name}}</h2>
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

{{#paper-card class="info-card"}}
  {{#paper-card-content}}

    <p class="p-description"><b>Description: </b>{{this.model.event.description}}</p>

    <p><b>Type: </b> {{this.model.event.type}}</p>

    <p><b>URL: </b> <a target="_blank" rel="noopener" href={{this.model.event.url}}>{{this.model.event.url}}</a></p>

    <p><b>Disponibility: </b> {{this.model.event.disponibility}}</p>

  {{/paper-card-content}}
{{/paper-card}}

<br>

{{#paper-form class="comment-section" onSubmit=(action "submitComment") as |form|}}
  <div class="layout-column new-page">
    <div class="layout-row new-page flex-50">
      {{form.input label="Name" value=name onChange=(action (mut name)) required=true}}
      {{form.input label="Email" value=email onChange=(action (mut email)) required=True}}
    </div>
    <div class="layout-row new-page flex-50">
      {{form.input textarea=true block=true label="Comment" maxlength=150 passThru=(hash rows=5 maxRows=5) value=comment_text onChange=(action (mut comment_text)) required=True}}
    </div>
  </div>
  <div class="layout-row index-page">
    {{#form.submit-button raised=true primary=true}}Comment{{/form.submit-button}}
  </div>
{{/paper-form}}


{{#paper-list}}
  {{#paper-subheader}}Coments{{/paper-subheader}}
  {{#each this.model.event.comments as |item|}}
    {{#paper-item class="md-3-line"}}
      <div class="md-list-item-text">
        <h3>{{item.name}} ~ {{item.created_at}}</h3>
        <p>{{item.comment}}</p>
      </div>
    {{/paper-item}}
    {{paper-divider}}
  {{/each}}

{{/paper-list}}

<br>