<br>

{{#paper-form class="new-event" onSubmit=(action "submitEvent") as |form|}}
  <div class="layout-column new-page">
    <div class="layout-row new-page flex-50">
      {{form.input label="Name" value=name onChange=(action (mut name)) required=true}}
      {{form.input label="Type" value=type onChange=(action (mut type)) required=True}}
    </div>
    <div class="layout-row new-page flex-50">
      {{form.input textarea=true block=true label="Description" maxlength=150 passThru=(hash rows=5 maxRows=5) value=description onChange=(action (mut description)) required=True}}
    </div>
    <div class="layout-row new-page flex-50">
      {{form.input label="URL" value=url onChange=(action (mut url)) required=True}}
      {{form.input label="Disponibility" value=disponibility onChange=(action (mut disponibility)) required=True}}
    </div>
  </div>
  <div class="layout-row index-page">
    {{#form.submit-button raised=true primary=true}}Submit{{/form.submit-button}}
  </div>
{{/paper-form}}