<div class="my-body">

  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
      {{#link-to "events" (query-params page=1 size=4 name=null type=null disponibility=null) }}
        <h2 class="page-title"><i> #QUARANTINE.CULT </i></h2>
      {{/link-to}}
      <span class="flex"></span>
      {{#if session.isAuthenticated}}
        {{#link-to "event.new"}}New event{{/link-to}}
        {{#paper-button onClick=(action "invalidateSession")}}Logout{{/paper-button}}
      {{else}}
        {{#link-to "login"}}Login{{/link-to}}
      {{/if}}
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}

  {{outlet}}

</div>