<h3 class="page-title"> During the COVID-19 quarantine you should check these amazing cultural events </h3>

<br>

<div class="search-card">
  {{#paper-card as |card|}}
    {{#paper-toolbar class="search-toolbar"}}
      {{#paper-toolbar-tools}}
        <h2>Filter</h2>
        <span class="flex"></span>
        {{#paper-button onClick=(action "toggle" "showBasicUsageSourceCode") iconButton=true}}
          {{paper-icon icon="search"}}
        {{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

    <div class="doc-code-example {{if showBasicUsageSourceCode "is-visible"}}">
      {{#card.content}}
        {{#paper-form onSubmit=(action "filterEvents") as |form|}}
          <div class="layout-column new-page">
            <div class="layout-row new-page flex-50">
              {{form.input label="Name" value=name onChange=(action (mut name)) }}
            </div>
            <div class="layout-row new-page flex-50">
              {{form.input label="Type" value=type onChange=(action (mut type)) }}
            </div>
            <div class="layout-row new-page flex-50">
              {{form.input label="Disponibility" value=disponibility onChange=(action (mut disponibility)) }}
            </div>
          </div>
          <div class="layout-row index-page">
            {{#form.submit-button raised=true primary=true}}Search{{/form.submit-button}}
          </div>
        {{/paper-form}}
      {{/card.content}}
    </div>
  {{/paper-card}}
</div>

<br>

<div class="layout-column index-page">
  <div class="layout-row index-page">
    {{#each this.model as |event|}}
      <EventCard @event={{event}} />
    {{/each}}
  </div>
</div>


<div class="my-link">
  {{#each-in this.model.meta.pagination as |key value|}}
    {{#link-to "events" (query-params page=value.number) class="pagination"}}{{key}}{{/link-to}}
  {{/each-in}}
</div>
