{{#paper-form class="login" onSubmit=(action "authenticate") as |form|}}


  <div class="layout-column new-page">
    <div class="layout-row new-page flex-50">
      {{form.input label="Email" value=email type="email" onChange=(action (mut email))}}
    </div>
    <div class="layout-row new-page flex-50">
      {{form.input label="Password" value=password type="password" onChange=(action (mut password))}}
    </div>
  </div>
  <div class="layout-row index-page">
    {{#form.submit-button raised=true primary=true}}Submit{{/form.submit-button}}
  </div>

{{/paper-form}}